<script type="text/javascript">
//CKEDITOR.config.contentsCss = '/stylesheets/common.css' ; 
</script>

<h1><%=t :edit_banners %></h1>

<% @textboxes.each do |textbox| %>
  <% form_for([:admin, textbox]) do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label :title, t(:title) %><br />
      <%= f.text_field :title %>
      <%= f.label :publish, t(:publish) %>
      <%= f.check_box :publish %>
    </p>
    <p>
      <%= f.label :text %><br />
      <%= f.cktext_area :text, :id => textbox.id %>
    </p>
    <p>
      <%= f.submit t(:update) %>
    </p>
  <% end %>

<% end %>
